<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.mapper.FriendWishMapper">


    <insert id="sendBlessing">
     INSERT INTO
              `wx_friend_wish`(`gender`, `app_id`, `avatar_url`, `nick_name`, `country`, `province`, `city`, `wish_time`)
      VALUES
              (#{gender}, #{appId}, #{avatarUrl}, #{nickName}, #{country}, #{province}, #{city}, NOW());
    </insert>

    <select id="queryFriendWish" resultType="com.love.model.dao.QueryWishDAO">
          select avatar_url, nick_name, DATE_FORMAT(wish_time,'%Y年 %m月 %d日') as wish_time
           from  wx_friend_wish where app_id=#{appid} order by wish_time desc
  </select>
    <select id="queryFriendWishByNickName" resultType="com.love.model.dao.QueryWishDAO">
            select avatar_url, nick_name, DATE_FORMAT(wish_time,'%Y年 %m月 %d日') as wish_time
           from  wx_friend_wish where nick_name=#{nickName}
    </select>


</mapper>
